.clb {
	clear: both;
}

span.action:hover {
	border: 1px dotted black;

}

.action.active > span {
	color: #eee;
}
form label{
	color: #eee;
}

.action-name {
	border-bottom: 1px dotted black;
	color: black;
	cursor: pointer;
}

.main {
	font-size: 16px;
	font-weight: bold;
}

span.big{
	font-size:26px;
}

.action.active {
	background: rgba(0, 0, 0, 0.52);
}

.action {
	padding: 15px 0;
	border-bottom: 1px dashed black;
}
.action.toggle {
	/*float:right;*/
}

.action:last-of-type {
	border-bottom: none;
	cursor: pointer;
}

.action .main {
	color: black;
}

.toggle span {
	border-bottom: none;
}

.actions {
	float: right;
	z-index: 100;
	position: relative;
	margin: 20px -55px 0 0;
}

.actions span, .actions form {
	margin: 0 15px 25px 15px;
}

span, input, label {
}

form label, form input {
	float: left;
	color: #fff;
}

.action span {
	/*color: #fff;*/
}

.map {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	margin-right: 300px;
}

.map.edit {
	cursor: default;
}

form .form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 16px;
	line-height: 1.7;
	color: #555555;
	background-color: #eee;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: none;
	transition: none;
}

form .form-control:focus {
	border-color: green;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

form select{
	cursor:default;
}

label {
	display: inline-block;
	margin: 5px 0;
	font-weight: bold;
}

.form-group {
	width: 250px;
}

form label.bind-color{
	cursor:pointer;
	float:right;
	margin:5px 0;
	border-bottom:1px dotted black;
}

.legend{
	position:absolute;
	bottom:50px;
	right:20px;
	z-index: 100;
}

ul{
	list-style-type: none;
	padding:0;
}

.top{
	/*color:white;*/
	float:right;
	cursor:pointer;
}

.user{
	float:right;
	position: relative;
	z-index: 100;
}