.accordion {
  min-width: 300px;
  margin: 45px;
}
.accordion label,
.accordion input,
.accordion li {
  color: #fff;
}
.accordion label,
.accordion input {
  float: left;
}
span.acc-item:hover {
  border: 1px dotted black;
}
.acc-item {
  padding: 5px 15px 20px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow-y: auto;
  max-height: 700px;
}
.acc-item:first-of-type {
  cursor: pointer;
}
.acc-item .main {
  color: black;
}
.acc-item .glyphicon {
  float: right;
  color: #b8b8b8;
}
.acc-item .edit .glyphicon {
  float: none;
}
.acc-item.active .glyphicon {
  cursor: pointer;
  font-size: 17px;
}
.acc-item.active .glyphicon:hover {
  color: #eee;
}
.acc-item.active .main {
  color: #eee;
}
.acc-item .freq {
  display: inline-block;
  float: right;
  padding-right: 5px;
}
.acc-item .edit-point-name {
  color: #000;
}
.acc-item-data {
  margin-top: 5px;
}
.acc-item-name,
.action-name {
  border-bottom: 1px dotted black;
  color: black;
  cursor: pointer;
}
.acc-item.active {
  background: rgba(65, 65, 65, 0.85);
}

.clb {
  clear: both;
}
body {
  overflow: hidden;
}
form label {
  color: #eee;
}
span.big {
  font-size: 26px;
}
.main {
  font-size: 20px;
  font-weight: bold;
}
.toggle span {
  border-bottom: none;
}
.actions {
  float: left;
  z-index: 100;
  position: relative;
}
.list li {
  margin-top: 2px;
  padding: 5px;
  cursor: pointer;
}
.list .list-el:first-of-type {
  margin-top: 5px;
}
.list li:hover,
.list .sort:hover {
  background-color: rgba(106, 107, 106, 0.9);
}
.list li.active,
.list .sort.active {
  background: rgba(106, 107, 106, 0.9);
  box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.9);
}
.list button {
  /*background-color:#eee;*/
  height: 25px;
}
.list button.add {
  margin: 3px 0 3px 1px;
}
.list-more input {
  width: 135px;
  color: #000;
  height: 30px;
  margin-left: 5px;
  padding: 0 5px;
  float: right;
}
.list-more label {
  font-weight: normal;
  margin: 5px;
}
.list .sort-wrapper,
.list .wrapper {
  overflow: hidden;
}
.list .sort {
  cursor: pointer;
  height: 30px;
  width: 50%;
  padding: 12px 7px;
  float: left;
}
.list .sort:last-of-type .arrow {
  float: right;
}
.list .sort .arrow.up,
.list .sort .arrow.down {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}
.list .sort .arrow.up {
  border-bottom: 5px solid transparent;
}
.list .sort .arrow.up.active,
.list .sort:hover .arrow.up {
  border-bottom: 5px solid #fff;
}
.list .sort .arrow.down {
  border-top: 5px solid transparent;
}
.list .sort .arrow.down.active,
.list .sort:hover .arrow.down {
  border-top: 5px solid #fff;
}
.list .sort:last-of-type {
  text-align: right;
}
.map {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  margin-right: 300px;
}
.map.edit {
  cursor: default;
}
div .form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.7;
  color: #555555;
  background-color: #eee;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: none;
  transition: none;
}
div .form-control:focus {
  border-color: green;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
div .form-control[disabled],
div .form-control[readonly],
div fieldset[disabled] .form-control {
  background-color: #999999;
  border-color: #999999;
}
div .has-error .control-label {
  color: #fff;
}
div select {
  cursor: default;
}
label {
  display: inline-block;
  margin: 5px 0;
  font-weight: bold;
}
.form-group {
  width: 250px;
  overflow: hidden;
}
div label.bind-color {
  cursor: pointer;
  float: right;
  margin: 5px 0;
  border-bottom: 1px dotted black;
}
.legend {
  position: fixed;
  bottom: 50px;
  right: 20px;
  z-index: 100;
  max-height: 600px;
  overflow-y: auto;
  width: 180px;
}
.legend span {
  padding: 10px 10px 0;
  margin-bottom: 5px;
}
ul {
  list-style-type: none;
  padding: 0;
}
.top {
  /*color:white;*/
  float: right;
  cursor: pointer;
}
.user {
  position: fixed;
  top: 45px;
  right: 7px;
  z-index: 100;
  padding: 5px;
  font-weight: bold;
  font-size: 14px;
}
td input {
  width: 100%;
}
.has-error input {
  -webkit-animation: has-error 2.5s;
  animation: has-error 2.5s;
}
.has-error.force input {
  background: #812b2b;
}
@-webkit-keyframes has-error {
  from {
    background: #812b2b;
  }
  to {
    background: #eeeeee;
  }
}
@keyframes has-error {
  from {
    background: #812b2b;
  }
  to {
    background: #eeeeee;
  }
}
#users-list {
  padding: 50px;
}
.error-msg {
  font-size: 11px;
  margin-left: 5px;
  display: inline-block;
}
.glyphicon {
  padding: 3px;
}
.touch-it {
  padding: 7px;
  margin: 0 0 0 -7px;
}
@media screen and (max-height: 600px) {
  .acc-item {
    max-height: 400px;
  }
  .legend {
    max-height: 400px;
  }
  .legend .form-body {
    margin-top: 10px;
  }
}
@media screen and (max-height: 500px) {
  .acc-item {
    max-height: 300px;
  }
  .legend {
    max-height: 300px;
  }
}
@media screen and (max-height: 400px) {
  .acc-item {
    max-height: 200px;
  }
  .legend {
    max-height: 200px;
  }
}
