.clb {
	clear: both;
}

span.acc-item:hover {
	border: 1px dotted black;

}

.acc-item.active  span {
	color: #eee;
}
form label{
	color: #eee;
}

.acc-item-name, .action-name{
	border-bottom: 1px dotted black;
	color: black;
	cursor: pointer;
}

.main {
	font-size: 20px;
	font-weight: bold;
}

span.big{
	font-size:26px;
}

.acc-item.active {
	background: rgba(0, 0, 0, 0.65);
}

.acc-item {
	padding: 5px 15px 20px;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.acc-item.toggle {
	/*float:right;*/
}

.acc-item:first-of-type {
	cursor: pointer;
}

.acc-item .main {
	color: black;
}

.toggle span {
	border-bottom: none;
}

.actions {
	float: left;
	z-index: 100;
	position: relative;
}

.actions span, .actions form {
}

span, input, label {
}

.accordion{
	min-width: 200px;
}

.accordion label, .accordion input, .accordion li{
	color: #fff;
}

.accordion label, .accordion input{
	float: left;
}

.list li{
	margin-top: 2px;
	padding: 5px;
	cursor: pointer;
}

.list .list-el:first-of-type{
	margin-top: 5px;
}

.list li:hover{
	background-color: rgba(106, 107, 106, 0.9);
}

.list li.active {
	background: rgba(106, 107, 106, 0.9);
	box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.9);
}

.list-el .remove{
	float:right;
	color: rgb(184, 184, 184);
	display:none;
}
.list-el .remove:hover{
	color: #fff;
}

.list button{
	/*background-color:#eee;*/
	height: 25px;
}

.list button.add{
	margin: 3px 0 3px 1px;
}

.acc-item span {
	/*color: #fff;*/
}

.map {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	margin-right: 300px;
}

.map.edit {
	cursor: default;
}

div .form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 16px;
	line-height: 1.7;
	color: #555555;
	background-color: #eee;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: none;
	transition: none;
}

div .form-control:focus {
	border-color: green;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

div .has-error .control-label{
	color:#fff;
}

div select{
	cursor:default;
}

label {
	display: inline-block;
	margin: 5px 0;
	font-weight: bold;
}

.form-group {
	width: 250px;
}

div label.bind-color{
	cursor:pointer;
	float:right;
	margin:5px 0;
	border-bottom:1px dotted black;
}

.legend{
	position:absolute;
	bottom:50px;
	right:20px;
	z-index: 100;
}

ul{
	list-style-type: none;
	padding:0;
}

.top{
	/*color:white;*/
	float:right;
	cursor:pointer;
}

.user{
	float:right;
	position: relative;
	z-index: 100;
	padding: 5px;
	font-weight: bold;
	font-size: 14px;
}

td input{
	width: 100%;
}

.has-error input{
	-webkit-animation: has-error 2.5s;
	animation: has-error 2.5s;
}

.has-error.force input{
	background: rgb(129, 43, 43);
}

@-webkit-keyframes has-error{
	from {background: rgb(129, 43, 43);}
	to {background: rgb(238, 238, 238);}
}

@keyframes has-error{
	from {background: rgb(129, 43, 43);}
	to {background: rgb(238, 238, 238);}
}

#users-list{
	padding:50px;
}

.error-msg{
	font-size:11px;
	margin-left:5px;
	display: inline-block;
}

