html body {
    background: #fff;
    font-family: 'Lucida grande', verdana, sans-serif;
    height:auto;
}

#login {
    width: 500px;
    margin: 100px 300px;
    text-align: center;
    border: 1px solid #ccc;
    background: #efefef;
}

#login h1 {
    font-weight: bold;
    color: #111;
    margin-bottom: 0;
}

#login form {
    padding: 10px;
    text-align: left;
}
#login form p {
    margin: 15px 0;
}

#login #remember-field, #login #signin-field{
    margin: 0 ;
}

#username-field {
    margin-top: 10px !important;
}

#username-field label, #password-field label {
    display: block;
    width: 150px;
    float: left;
    text-align: right;
    margin-right: 5px;
    color: #333;
    font-size: 15px;
    padding-top: 7px;
}

#username-field input, #password-field input  {
    width: 250px;
    font-size: 15px;
    margin: 0;
}

#remember-field input {
    margin-left: 155px;
}

#remember-field {
    font-size: 12px;
    color: #666;
}

#remember-field label{
	padding: 10px 0;
}

#signin-field input {
    margin-left: 155px;
    margin-top: 10px;
}

#login .error, #login .success  {
    color: #fff;
    font-size: 15px;
    text-align: center;
    margin: 10px 0 30px;
    padding: 10px;
}

#login .error {
    background: #c00 !important;
}

#login .success {
    background: #368a55 !important;
}

#login label {
    font-size: .875rem;
    color: #4d4d4d;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 0;
}

input[type=text], input[type=password], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=week], input[type=email], input[type=number], input[type=search], input[type=tel], input[type=time], input[type=url], input[type=color], textarea {
    -webkit-appearance: none;
    border-radius: 0;
    background-color: #fff;
    font-family: inherit;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    color: rgba(0,0,0,.75);
    display: block;
    font-size: .875rem;
    margin: 0 0 1rem;
    padding: .5rem;
    height: 2.3125rem;
    width: 100%;
    box-sizing: border-box;
    transition: box-shadow .45s,border-color .45s ease-in-out;
}

.button {
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  font-family: Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  -webkit-appearance: none;
  border-radius: 0;
  display: inline-block;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1.0625rem;
  padding-left: 2rem;
  font-size: 1rem;
  background-color: #008cba;
  border-color: #007095;
  color: #fff;
  transition: background-color 300ms ease-out;
}

.button:hover, .button:focus {
  color: #fff;
}

.button:hover, .button:focus {
  background-color: #007095;
}
