<span class="acc-item-name main" data-model="name">!{name}</span><span class="remove glyphicon glyphicon-remove" title="Отмена"></span>
<div class="acc-item-data location" role="form">
	<div class="form-group">
		<label class="control-label">Название*<span class="error-msg"></span></label>
		<input class="name form-control" type="text"/></div>
	<div class="form-group"><label class="control-label">Комментарий</label><textarea class="comment form-control" type="text" style="max-width: 250px;"></textarea></div>
</div>

