<div class="modal create-tower" id="" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Параметры</h4>
			</div>
			<div class="modal-body">
				<div class="create-base-form"></div>
				<div class="form-group"><label>Название</label><input class="name form-control" type="text"/></div>
				<div class="form-group"><label>Частота</label><input class="freq form-control" type="text"/></div>
				<div class="form-group"><label>Угол направленности</label>
					<select class="angle form-control">
						<option value="60">60</option>
						<option value="90">90</option>
						<option value="120">120</option>
					</select>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary create">Создать</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
			</div>
		</div>
	</div>
</div>
