<!DOCTYPE html>
<html>
<head>
	<title>Вышки</title>
	<meta charset="${_response_encoding}">
	<link rel="stylesheet" media="screen" href="@{'/css/style.css'}">
	<link rel="stylesheet" media="screen" href="@{'/css/bootstrap.css'}">
	#{get 'moreStyles' /}
	<link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">

	<script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>
	<script src="http://code.jquery.com/jquery-2.1.0.js"></script>

	#{list items = new sp.Packer(play.Play.applicationPath, 'js').getFilesSequence('client'), as: 'filename' }
		<script type="text/javascript" src="${filename}"  charset="utf-8"></script>
	#{/list}
</head>
<body>
	<div class="actions accordion">
		<div class="action tower" data-type="tower" style="display:none;">
		</div>
		<div class="clb"></div>
		<div class="action highway" data-type="highway" style="display:none;">
		</div>
		<div class="clb"></div>
		<div class="action toggle">
			<span class="view action-name main big" data-action="view">◀</span>
		</div>
	</div>
	<div id="map" class="map edit"></div>
	#{include 'Application/legend.html'/}

	<div style="display:none;" data-template="tower">#{include 'Application/tower.html'/}</div>
</body>
</html>
