<!DOCTYPE html>
<html>
<head>
	<title>Вышки</title>
	<meta charset="${_response_encoding}">
	<meta name=viewport content="width=device-width, initial-scale=1">
	<link rel="stylesheet" media="screen" href="@{'/css/style.css'}">
	<link rel="stylesheet" media="screen" href="@{'/css/bootstrap.css'}">
	<link rel="stylesheet" media="screen" href="@{'/css/select2.css'}">
	<link rel="stylesheet" media="screen" href="@{'/css/select2-bootstrap.css'}">
	#{get 'moreStyles' /}
	<script src="http://api-maps.yandex.ru/2.1/?load=package.full&lang=ru-RU" type="text/javascript"></script>
	<script src="http://code.jquery.com/jquery-2.1.0.js"></script>

	#{list items = new sp.Packer(play.Play.applicationPath, 'js').getFilesSequence('client'), as: 'filename' }
		<script type="text/javascript" src="${filename}"  charset="utf-8"></script>
	#{/list}
</head>
<body>
	<div class="user">
		#{if username != null}
			<span>${username}</span>
			<a href="/logout" class="action-name">Выйти</a>
		#{/if}
	</div>
	<div class="actions accordion">
		<div class="acc-item toggle">
			<span class="view acc-item-name main big" data-action="view">▷</span>
		</div>
		<div class="clb"></div>
		<div class="acc-item locations-list" data-type="locationsList" style="display:none;"></div>
		<div class="clb"></div>
		<div class="acc-item towers-list" data-type="towersList" style="display:none;"></div>
		<div class="acc-item points-list" data-type="pointsList" style="display:none;"></div>
		<div class="acc-item item-view"></div>
		#{if username == 'admin'}
		#{/if}
	</div>
	<div id="users-list" style="display:none;">
		#{if username != 'admin'}
			Недостаточно прав для просмотра раздела.
		#{/if}
	</div>
	<div id="map" class="map edit"></div>
	<div class="legend"></div>

	<div style="display:none">
		<div class="data-holder freqs">${freqs}</div>
		<div class="data-holder towers">${towers}</div>
		<div class="data-holder locations">${locations}</div>
		<div class="data-holder points">${points}</div>
	</div>

</body>
</html>
