<!DOCTYPE html>
<html>
<head>
	<title>Вышки</title>
	<meta charset="${_response_encoding}">
	<link rel="stylesheet" media="screen" href="@{'/css/style.css'}">
	<link rel="stylesheet" media="screen" href="@{'/css/bootstrap.css'}">
	#{get 'moreStyles' /}
	<script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>
	<script src="http://code.jquery.com/jquery-2.1.0.js"></script>

</head>
<body>
	<div class="user">
		<a href="/login" class="action-name">Войти</a>
	</div>
	<div id="map" class="map edit"></div>
	<script type="text/javascript">
		$(function(){

			ymaps.ready(function(){
				var map = new ymaps.Map('map', {
					center: [58, 57],
					zoom: 10,
					behaviors: ['default', 'scrollZoom']
				});
				map.options.set('scrollZoomSpeed', 5);
			})
        })
    </script>
</body>
</html>
