<span class="acc-item-name main" data-model="name">!{name}</span>
<div class="acc-item-data list" style="display:none;">
    <ul>
        <% _.each(list, function(el){ %>
            <li data-cid="!{el.cid}" class="list-el">
                <span>!{el.name}</span>
                #{if isAdmin}
                <span class="remove" >Удалить</span>
                <span class="edit">Ред.</span>
                #{/if}
            </li>
        <% }); %>
        #{if isAdmin}
        <li class="add">Добавить</li>
        #{/if}
    </ul>
</div>
