<span class="acc-item-name main" data-model="name">!{name}</span>
<div class="acc-item-data list" style="display:none;">
    <ul>
        <% _.each(list, function(el){ %>
            <li data-cid="!{el.cid}" class="list-el">
                <span>!{el.name}</span>
                #{if isAdmin}
                <span class="remove" >Удалить</span>
                #{/if}
            </li>
        <% }); %>
        #{if isAdmin}
        <li class="add">Добавить</li>
        #{/if}
    </ul>
    <div role="form" style=" height: 30px; ">
        <label>Показать границы</label>
        <input type="checkbox" class="show-locations" checked="checked" style=" margin:9px 0 0 5px;"/>
    </div>
    </div>
</div>

