<span class="acc-item-name main" data-model="name">!{name}</span>
<form class="acc-item-data tower" role="form">
	<div class="form-group"><label class="control-label">Название*</label><input class="name form-control" type="text"/></div>
	<div class="form-group"><label class="control-label">Частота*, Mhz</label><input class="freq form-control" type="text"/></div>
	<div class="form-group"><label class="control-label">Цвет</label><label class="bind-color" style="display:none;" title="Привязать цвет к частоте">Привязать</label><input class="color form-control" type="color"/></div>
	<div class="form-group"><label class="control-label">Угол раскытия</label>
		<select class="angle form-control">
			<% _.each(angles, function(angle){ %>
                <option value="!{angle}!{angleUnit}">!{angle}!{angleSymbol}</option>
			<% }) %>
		</select>
	</div>
	<div class="form-group"><label class="control-label">Комментарий</label><textarea class="comment form-control" type="text" style="max-width: 250px;"></textarea></div>
</form>

